.btn {
    transition: all .3s;
    border-radius: 0px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(var(--color-primary), 0.25);
}

.cp-btn-primary {
    color: #fff;
    background-color: rgb(var(--color-primary));
}

.cp-btn-primary:hover {
    filter: brightness(90%);
}

.cp-btn-secondary {
    color: #fff;
    background-color: rgb(var(--color-secondary));
}

.cp-btn-secondary:hover {
    filter: brightness(90%);
}

.btn:disabled {
    cursor: no-drop !important;
}

.cp-btn-danger {
    color: #fff;
    background-color: var(--color-danger);
}

.cp-btn-danger:hover {
    filter: brightness(90%);
}
