.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
}

.cc-pedding-nav{
    padding: 0.25rem;
}

.active:hover{
    color: #e9e9e9 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgb(var(--color-secondary));
    border-color: transparent;
}