<div class="fmk-full fmk-bg-gray">

</div>
<div class="pg-parent">
    <div class="pg-img-bg fmk-gradient" id="success">
    </div>
    <div class="container pg-content-bg text-white w-100">
        <cp-title-page size="1">Obrigado por participar!</cp-title-page>
        <cp-button-style (click)="scroll(target)" type="transition" label="Estatísticas"></cp-button-style>
    </div>
</div>

<div #target class="container mt-4 mb-5">
    <!-- <cp-title>Estatísticas</cp-title> -->
    <div class="position-relative">
        <cp-title-page section="Sua profissão">{{ data.profissao.description.nome }}</cp-title-page>
        <cp-title class="position-absolute position-star" title="Nível de satisfação">
            {{ data.profissao.description.satisfacao | number:'1.1-2'}} <i class="fa fa-star" aria-hidden="true"
                style="color: #e9b91b;"></i></cp-title>
    </div>
    <hr>
    <cp-alert>Acompanhe suas estatísticas baseadas nas informações da sua área</cp-alert>
    <div class="row mb-3">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <cp-title size='h5'>Sua Pontuação</cp-title>
                    <div style="display: block; position: relative; min-height: 300px">
                        <canvas baseChart [datasets]="radarChartData.datasets" [options]="radarChartOptions"
                            [labels]="radarChartData.labels" chartType="radar" [legend]="true"
                            [colors]="radarChartData.colors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-6">
                    <cp-info-box-simple label="Compatibilidade" value="{{ data.profissaoResultado.description.similaridade | number:'1.1-2' }}%">
                    </cp-info-box-simple>
                </div>
                <div class="col-md-6">
                    <cp-info-box-simple label="Idade Média" value="{{ data.profissao.description.idadeMedia | number:'1.0-0' }} anos">
                    </cp-info-box-simple>
                </div>
            </div>
        </div>
    </div>
</div>