<div class="fmk-full fmk-bg-gray">

</div>
<div class="pg-parent">
    <div class="pg-img-bg fmk-gradient" id="success">
    </div>
    <div class="container pg-content-bg text-white w-100">
        <cc-title-page size="1">Obrigado por participar!</cc-title-page>
        <cc-button-style type="transition" label="Estatísticas"></cc-button-style>
    </div>
</div>

<div class="container mt-4 mb-5">
    <cc-title>Estatísticas</cc-title>
    <hr>
    <cc-alert>Acompanhe suas estatísticas baseadas nas informações da sua área</cc-alert>
    <div class="row">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <cc-title size='h5'>Sua Pontuação</cc-title>
                    <div style="display: block; position: relative; min-height: 300px">
                        <canvas baseChart [datasets]="radarChartData.datasets" [options]="barChartOptions"
                            [labels]="radarChartData.labels" chartType="radar" [legend]="true"
                            [colors]="radarChartData.colors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card shadow-sm">
                <div class="card-body">
                    <cc-chart-bar label="Número de profissionais" [datasets]="barChartData.datasets"
                        [labels]="barChartData.labels" [legend]="true" chartType="bar" [colors]="barChartData.colors">
                    </cc-chart-bar>
                </div>
            </div>
        </div>
    </div>
</div>