<div class="fmk-full fmk-bg-gray">

</div>

<div class="fmk-align-center">
    <div class="container text-left mb-5 mt-5">
        <cp-title-page>Olá estudante!</cp-title-page>
        <hr>
        <cp-title>
            <br>
            Os Testes Vocacionais na internet, assim como os publicados em revistas, são apenas referências para a sua
            escolha. Eles ajudam na direção da sua escolha e não são a resposta definitiva.
            <br><br>
            Recomendamos que procure por faculdades que ofereçam o curso de Psicologia, em geral elas possuem este tipo
            de
            atendimento ou poderão lhe indicar um profissional. Mas procure sempre por alguém especializado em
            Orientação
            Profissional.
        </cp-title>
        <br>
        <cp-button (click)="ir()" size="lg" label="Iniciar Teste"></cp-button>
    </div>
</div>