<div class="fmk-full fmk-bg-gray">

</div>

<div class="fmk-align-center">
    <div class="container text-left mb-5 mt-5">
        <cc-title-page>Olá estudante!</cc-title-page>
        <hr>
        <cc-title>
            <br>
            Os Testes Vocacionais na internet, assim como os publicados em revistas, são apenas referências para a sua
            escolha. Eles ajudam na direção da sua escolha e não são a resposta definitiva.
            <br><br>
            Recomendamos que procure por faculdades que ofereçam o curso de Psicologia, em geral elas possuem este tipo
            de
            atendimento ou poderão lhe indicar um profissional. Mas procure sempre por alguém especializado em
            Orientação
            Profissional.
        </cc-title>
        <br>
        <cc-button (click)="ir()" size="lg" label="Iniciar Teste"></cc-button>
    </div>
</div>