<div class="fmk-full fmk-bg-gray">

</div>

<div class="pg-parent">
    <div class="pg-img-bg fmk-gradient" id="analytics">
    </div>
    <div class="container pg-content-bg text-white w-100">
        <cp-title-page size="1">Obrigado por participar!</cp-title-page>
        <cp-button-style (click)="scroll(target)" type="transition" label="Estatísticas"></cp-button-style>
    </div>
</div>

<div #target class="container mt-4 mb-5">
    <div class="mt-5">
        <cp-nav-tab-header>

            <cp-nav-tab tabTitle="Profissão">
                <profissao-fragment [data]="this.data.profissao"></profissao-fragment>
            </cp-nav-tab>
            <cp-nav-tab tabTitle="Estatísticas">
                <estatistica-fragment [data]="dunotChart"></estatistica-fragment>
            </cp-nav-tab>
            <cp-nav-tab tabTitle="Vagas">

            </cp-nav-tab>
            <cp-nav-tab tabTitle="Roadmap">

            </cp-nav-tab>
        </cp-nav-tab-header>
    </div>
</div>