<div class="fmk-bg-gray" style="padding-top: 20px">
  <div class="container">

    <cp-title-page section="Sessão da página">Título da Página</cp-title-page>
    <hr>
    <br>

    <cp-vertical-tab-button>
      <cp-vertical-tab tabTitle="Primeira">
        dwrw
      </cp-vertical-tab>
      <cp-vertical-tab tabTitle="Segunda">
        adsad
      </cp-vertical-tab>
    </cp-vertical-tab-button>
    <br>

    <cp-title>Formatos de textos</cp-title>
    <hr>
    <cp-text>Eu sou um texto normal.</cp-text>
    <cp-text type='desc'>Eu sou um texto para descrição para descrição de página ou contexto.</cp-text>
    <br>
    <cp-text>
      <p>Eu sou um texto com três parágrafos.</p>
      <p>Eu sou um texto com três parágrafos.</p>
      <p>Eu sou um texto com três parágrafos.</p>
    </cp-text>
    <br>

    <cp-title>Itens</cp-title>
    <hr>
    <div class="row">
      <div class="col-3">
        <cp-item label="Dinheiro" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Data" [value]="date"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
      <div class="col-3">
        <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
      </div>
    </div>
    <br>


    <cp-title class="d-inline">Tipos de botões</cp-title>
    <cp-button class="d-inline" (click)="buttonActionActive()" size="sm" class="mr-2" label="Carregar"></cp-button>

    <hr>
    <cp-text>Botões grandes.</cp-text>

    <br>
    <div class="row">
      <div class="col-md-3">
        <cp-button label="Botão 1" size="lg" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Botão 2" size="lg" styleButton="secondary" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Disabled" size="lg" styleButton="secondary" [disabled]="true" [block]="buttonBlock">
        </cp-button>
      </div>
      <div class="col-md-3">
        <cp-action-button label="Action Button" labelLoading="Carregando..." size="lg"
          [isLoading]="actionButtonIsLoading" [block]="buttonBlock"></cp-action-button>
      </div>
    </div>
    <br>

    <cp-text>Botões normais.</cp-text>

    <br>
    <div class="row">
      <div class="col-md-3">
        <cp-button label="Botão 1" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Botão 2" styleButton="secondary" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Disabled" styleButton="secondary" [disabled]="true" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-action-button label="Action Button" labelLoading="Carregando..." [isLoading]="actionButtonIsLoading"
          [block]="buttonBlock"></cp-action-button>
      </div>
    </div>
    <br>

    <cp-text>Botões pequenos.</cp-text>

    <br>
    <div class="row">
      <div class="col-md-3">
        <cp-button label="Botão 1" size="sm" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Botão 2" size="sm" styleButton="secondary" [block]="buttonBlock"></cp-button>
      </div>
      <div class="col-md-3">
        <cp-button label="Disabled" size="sm" styleButton="secondary" [disabled]="true" [block]="buttonBlock">
        </cp-button>
      </div>
      <div class="col-md-3">
        <cp-action-button label="Action Button" labelLoading="Carregando..." size="sm"
          [isLoading]="actionButtonIsLoading" [block]="buttonBlock"></cp-action-button>
      </div>
    </div>
    <br>

    <br>
    <cp-title>Formulários</cp-title>
    <hr>

    <div class="card shadow-sm">
      <div class="card-body">
        <cp-form [formGroup]="form" (submit)="submit()" label="Título do formulário">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <cp-field label="Primeiro Nome" [required]="true" formControlName="firstName" type="text"></cp-field>
            </div>
            <div class="col-md-6 mb-3">
              <cp-field label="Último Nome" [required]="true" formControlName="lastName" type="text"></cp-field>
            </div>
          </div>
          <div class="form-row mb-5">
            <div class="col-md-6">
              <p>Sexo:</p>
              <cp-field-radio label="Masculino" name="sexo" value="M" inline="true" formControlName="sex">
              </cp-field-radio>
              <cp-field-radio label="Feminino" name="sexo" value="F" inline="true" formControlName="sex">
              </cp-field-radio>
            </div>
            <div class="col-md-6">
              <cp-field-select label="Profissão" [required]="true" [data]="fieldSelect.data" keyLabel="label"
                keyValue="value" formControlName="profissao" type="text"></cp-field-select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <cp-field label="CPF" [required]="true" formControlName="cpf" type="cpf"></cp-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <cp-field label="Digite o e-mail" [required]="true" formControlName="email" type="email"></cp-field>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <cp-field label="Senha" [required]="true" formControlName="password" type="password"></cp-field>
            </div>
            <div class="col-md-6 mb-3">
              <cp-field label="Confirmar senha" [required]="true" formControlName="passwordConfirm" type="password">
              </cp-field>
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col-md-12">
              <cp-field-checkbox label="Aceito os termos de contrato" name="termos" formControlName="agree">
              </cp-field-checkbox>
            </div>
          </div>
          <cp-alert type="danger" *ngIf="verificaSenhas(form.value.password, form.value.passwordConfirm)">As senhas
            devem
            ser iguais!</cp-alert>
          <cp-alert type="success" *ngIf="feedback">Solicitação enviada com sucesso!</cp-alert>
          <cp-action-button label="Confirmar" type="submit" [isLoading]="submitButtonIsLoading"
            labelLoading="Enviando..." [disabled]="!form.valid"></cp-action-button>
        </cp-form>
        <br>
        <cp-form-log [form]="form"></cp-form-log>
        <cp-form [formGroup]="formTeste">
          <cp-field label="Teste disabled" [required]="true" [disabled]="!state" formControlName="testeDisabled"
            type="text"></cp-field>
        </cp-form>

        <cp-button (click)="modifica()" label="Modifica"></cp-button>
      </div>
    </div>

    <br>
    <cp-title>Collapsible</cp-title>
    <hr>

    <cp-collapsible label="Pagamento" desc="16086228">
      <div body>
        <cp-item label="Status" value="PAGO"></cp-item>
        <cp-item label="Status" value="PAGO"></cp-item>
        <cp-item label="Status" value="PAGO"></cp-item>
        <cp-item label="Status" value="PAGO"></cp-item>
        <cp-item label="Status" value="PAGO"></cp-item>
      </div>
    </cp-collapsible>

    <cp-collapsible label="Recibo" desc="16086228">
      <div header>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <cp-item label="Nº Proposta" value="25252525"></cp-item>
          </div>
          <div class="col-sm-3">
            <cp-item label="Nº Certificado" value="999999999"></cp-item>
          </div>
          <div class="col-sm-3">
            <cp-item label="Valor" [value]="dinheiro | currency"></cp-item>
          </div>
          <div class="col-sm-3">
            <cp-item label="Situação" value="ATIVO"></cp-item>
          </div>
        </div>
      </div>
      <div body>
        <cp-text>
          <p>Eu sou um texto com três parágrafos.</p>
          <p>Eu sou um texto com três parágrafos.</p>
          <p>Eu sou um texto com três parágrafos.</p>
        </cp-text>
      </div>
    </cp-collapsible>
    <br>
    <cp-title>DropDown</cp-title>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <cp-dropdown label="DropDown" styleButton="primary">
          <cp-dropdown-content (valueOutput)="recuperaValorDropDown($event)" label="Opção 1" value="1">
          </cp-dropdown-content>
          <cp-dropdown-content (valueOutput)="recuperaValorDropDown($event)" label="Opção 2" value="2">
          </cp-dropdown-content>
          <cp-dropdown-content (valueOutput)="recuperaValorDropDown($event)" label="Opção 3" value="3">
          </cp-dropdown-content>
        </cp-dropdown>
        <cp-text class="ml-3">Valor escolhido: {{ valueDropDown }} </cp-text>
      </div>
    </div>
    <br>

    <cp-title>Alertas</cp-title>
    <hr>
    <cp-alert>Mensagem de Alerta</cp-alert>
    <cp-alert type="danger">Mensagem de Erro!</cp-alert>
    <cp-alert type="success">Mensagem de Sucesso!</cp-alert>
    <cp-alert type="warning">Mensagem de Atenção!</cp-alert>
    <cp-alert title="Atenção!" type="dark">Mensagem de Alerta!</cp-alert>
    <br>

    <cp-title>Tabela</cp-title>
    <hr>
    <br>
    <cp-table [data]="tableData" totalRegistros="client">
      <cp-table-col-checkbox disabled="true" header="Enviado" prop="send"></cp-table-col-checkbox>
      <cp-table-col header="Nome" prop="name"></cp-table-col>
      <cp-table-col header="País" prop="country"></cp-table-col>
      <cp-table-col header="Cidade" prop="city"></cp-table-col>
      <cp-table-col header="Salário" prop="salary" format="currency"></cp-table-col>
      <cp-table-tmpl-col header="Status" [tmpl]="statusPessoa"></cp-table-tmpl-col>
    </cp-table>
    <br>

    <cp-title>Tab Nav</cp-title>
    <hr>
    <cp-nav-tab-header>
      <cp-nav-tab tabTitle="Primeira">
        <cp-title>Primeira Aba</cp-title>
        <hr>
        <div class="row">
          <div class="col-3">
            <cp-item label="Dinheiro" [value]="dinheiro | currency"></cp-item>
          </div>
          <div class="col-3">
            <cp-item label="Data" [value]="date | date"></cp-item>
          </div>
          <div class="col-3">
            <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
          </div>
          <div class="col-3">
            <cp-item label="Título" [value]="dinheiro | currency"></cp-item>
          </div>
        </div>
        <cp-alert title="Sucesso!" type="success">Mensagem de Sucesso!</cp-alert>
      </cp-nav-tab>
      <cp-nav-tab tabTitle="Segunda">
        <cp-title>Segunda Aba</cp-title>
        <hr>
        <cp-text>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </cp-text>
      </cp-nav-tab>
      <cp-nav-tab tabTitle="Terceira" disabled="true">
        <cp-title>Terceira Aba</cp-title>
        <hr>
        <cp-alert title="Atenção!" type="warning">Mensagem de Alerta!</cp-alert>
      </cp-nav-tab>
    </cp-nav-tab-header>
    <br>

    <cp-title>Lista de dados</cp-title>
    <hr>
    <cp-dictlist [data]="dictListValue"></cp-dictlist>
    <br>

    <cp-title>Gráficos</cp-title>
    <hr>
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Gráfico de Radar" [datasets]="radarChartData.datasets" [labels]="radarChartData.labels"
              [legend]="true" chartType="radar" [colors]="radarChartData.colors"></cp-chart-bar>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Gráfico de Donout" [datasets]="donutChartData.datasets"
              [labels]="donutChartData.labels" [legend]="true" chartType="doughnut" [colors]="donutChartData.colors">
            </cp-chart-bar>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Gráfico de Pizza" [datasets]="donutChartData.datasets" [labels]="donutChartData.labels"
              [legend]="true" chartType="pie" [colors]="donutChartData.colors"></cp-chart-bar>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Gráfico de Linhas" [datasets]="lineChartData.datasets" [labels]="lineChartData.labels"
              [legend]="true" chartType="line" [colors]="lineChartData.colors"></cp-chart-bar>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Gráfico de Barras" [datasets]="barChartData.datasets" [labels]="barChartData.labels"
              [legend]="true" chartType="bar" [colors]="barChartData.colors"></cp-chart-bar>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-chart-bar label="Cliente editando" [datasets]="editChart.datasets" [labels]="editChart.labels"
              chartType="radar" [legend]="true"></cp-chart-bar>
            {{ editChart.datasets | json }}
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <cp-form [formGroup]="formGraph" label="Gráfico Editável">
              <cp-field-range label="Corrida" formControlName="corrida"></cp-field-range>
              <cp-field-range label="Natação" formControlName="natacao"></cp-field-range>
              <cp-field-range label="Futebol" formControlName="futebol"></cp-field-range>
              <cp-field-range label="Ciclismo" formControlName="ciclismo"></cp-field-range>
            </cp-form>
            <br>
            <cp-form-log [form]="formGraph"></cp-form-log>
          </div>
        </div>
      </div>
    </div>

    <br>
    <cp-title>Info-Box</cp-title>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <cp-info-box title="Homens nesta profissão" icon="fa-male" bgColor="#55acee" percent="60%" text="999"
          desc="60% dos profissionais são homens"></cp-info-box>
      </div>
      <div class="col-lg-6">
        <cp-info-box title="Mulheres nesta profissão" icon="fa-female" bgColor="#f94877" percent="40%" text="999"
          desc="40% dos profissionais são mulheres"></cp-info-box>
      </div>
    </div>
    <br>

    <cp-title>Estilo de texto</cp-title>
    <hr>

    <cp-text>
      O Front-End é a <span class='fmk-destaque'>primeira camada</span> com a qual nos deparamos ao acessarmos um
      site, uma intranet ou mesmo um sistema web. O Front-End é onde encontramos a <span class='fmk-destaque'>interface
        de navegação</span> de um site, com o design da página e formulários de
      contato, por exemplo. A estrutura do Front-End é composta geralmente por HTML, CSS, Javascript e Flash.
    </cp-text>
    <br><br>

  </div>
</div>