.form-group {
    margin-bottom: 0;
}

.form-group label {
    line-height: 1.125rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-text {
    font-size: .75rem;
    line-height: 1rem;
    height: 1rem;
    margin-bottom: 0.25rem;
}

.invalid-feedback {
    display: block;
    margin-top: -12px;
    margin-bottom: 15px;
}

.cc-is-invalid {
    border-color: #dc3545 !important;
}

.cc-is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}