<div class="fmk-full fmk-bg-gray">

</div>
<div class="fmk-bg-primary text-white" style="margin-top: -48px">
    <div class="container mt-5">
        <div class="w-100" style="height: 100vh;">
            <div class="fmk-align-center">
                <cc-title-page size="2">Obrigado por contribuir!</cc-title-page>
                <br><br>
                <cc-button size="lg" styleButton="secondary" label="Pular Estatísticas"></cc-button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-5">
    <cc-title>Estatísticas</cc-title>
    <hr>
    <cc-alert>Acompanhe suas estatísticas baseadas nas informações da sua área</cc-alert>
   
</div>