<div class="fmk-full fmk-bg-gray">

</div>

<div class="fmk-bg-gray fmk-align-center" style="padding-top: 20px">
    <div class="container mt-5 text-left">
        <cp-alert>Ajude-nos indicando com uma pontuação de 0 a 100 qual seu nível de identificação com as características abaixo.
        </cp-alert>
        <cp-alert *ngIf="deuErro" type="danger">
            {{ mensagem }}
        </cp-alert>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div style="display: block; position: relative; min-height: 300px">
                            <canvas baseChart [datasets]="editChart.datasets" [options]="barChartOptions"
                                [labels]="editChart.labels" chartType="radar" [legend]="true">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <cp-form [formGroup]="form" (submit)="submit()" label="Gráfico Editável">
                            <div *ngFor="let item of data.resultado.caracteristicaGrafico; let i = index">
                                <cp-field-range *ngIf="i < 6"
                                    [label]="item" [formControlName]="'caracteristica'+i">
                                </cp-field-range>
                            </div>
                            <br><br>
                            <cp-button type="submit" label="Enviar"></cp-button>
                        </cp-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>