<div class="fmk-full fmk-bg-gray">

</div>

<div class="position-relative fmk-align-center" style="height: 100vh">
   <div class="text-left fmk-bg-gray w-50">
      <div>
         <cp-title-page>Erro: 403 Forbidden</cp-title-page>
         <div class="fmk-bg-primary" style="width: 105px; height: 5px"></div>
      </div>
      <br>
      <img src="../../../../assets/images/erro/403.svg" alt="">
      <br><br>

      <cp-text type="desc">Desculpe, seu usuário não tem acesso a essa página.</cp-text>
      <br>
      <cp-button (click)="voltar()" label="Voltar" size="lg"></cp-button>

   </div>
</div>