<div class="full" [style.background-color]="cor">

</div>
<div class="container-fluid text-white p-4 w-100">
    <cite title="Source Title">Pergunta {{ contador }}</cite>

    <cc-title-page>
        {{ perguntas[numero].pergunta }}
    </cc-title-page>


    <div class="w-100" style="padding-bottom: 30px; padding-top: 30px">
        <cc-form [formGroup]="form" (submit)="responder()">
            <div class="col-md-12 text-left">
                <p>Resposta:</p>
                <hr>
                <cc-field-radio
                    label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit."
                    name="resposta" value="A" formControlName="letraA">
                </cc-field-radio>
                <hr>
                <cc-field-radio
                    label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit."
                    name="resposta" value="B" formControlName="letraB">
                </cc-field-radio>
                <hr>
                <cc-field-radio
                    label="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius consectetur orci. Cras et hendrerit."
                    name="resposta" value="C" formControlName="letraC">
                </cc-field-radio>
                <hr>
                <cc-action-button class="mb-3" label="Responder" type="submit" [isLoading]="submitButtonIsLoading"
                    labelLoading="Enviando..." [disabled]="!form.valid"></cc-action-button>
            </div>
        </cc-form>
    </div>

</div>