<div class="fmk-full fmk-transition" [style.background-color]="cor">

</div>

<div *ngIf="deuErrado" class="fmk-align-center text-white" style="height: 100vh;">
    <div class="d-block text-center">
        <cp-title-page>{{ perguntaResponse.description }}</cp-title-page>
        <cp-text>Desculpe o transtorno</cp-text>
        <br>
        <cp-button-style (click)="voltar()" type="line" label="Voltar"></cp-button-style>
    </div>

</div>

<div *ngIf="!deuErrado" class="container-fluid text-white p-4 w-100">
    <cite title="Source Title">Pergunta {{ contador }}</cite>

    <cp-title-page>
        {{ pergunta?.enunciado }}
    </cp-title-page>

    <div class="w-100" style="padding-bottom: 30px; padding-top: 30px">
        <cp-form [formGroup]="form" (submit)="responder()">
            <div class="col-md-12 text-left">
                <p>Resposta:</p>
                <hr>
                <div *ngFor="let item of pergunta?.respostas; let i = index">
                    <cp-field-radio [label]="item.texto" name="resposta" [value]="item._id" formControlName="resposta">
                    </cp-field-radio>
                    <hr>
                </div>
                <cp-action-button styleButton="secondary" type="submit" class="mb-3" label="Responder"
                    [isLoading]="submitButtonIsLoading" labelLoading="Enviando..." [disabled]="!form.valid">
                </cp-action-button>
            </div>
        </cp-form>
    </div>
    <!-- <cp-form-log [form]="form"></cp-form-log> -->
</div>