<div class="container-fluid">
    <div class="row">
        <div class="col-sm" style="border-right: 1px solid white">
            <div class="parent">
                <div class="pg-img-bg gradient" id="student">
                </div>
                <div class="pg-content-bg text-white w-100">
                    <h1 class="display-1">Sou um estudate!</h1>
                    <cc-button-style routerLink="/estudante" type="transition" label="Entrar"></cc-button-style>
                </div>
            </div>
        </div>
        <div class="col-sm" style="border-left: 1px solid white">
            <div class="parent">
                <div class="pg-img-bg gradient" id="professional">
                </div>
                <div class="pg-content-bg text-white w-100">
                    <h1 class="display-1">Sou um profissonal!</h1>
                    <cc-button-style routerLink="/profissional" type="transition" label="Entrar"></cc-button-style>
                </div>
            </div>
        </div>
    </div>
</div>