.stat-widget-two {
    text-align: center;
}

.stat-widget-two .stat-text {
    font-size: 16px;
    margin-bottom: 5px;
    color: #868e96;
}

.stat-widget-two .stat-digit {
    font-size: 1.75rem;
    font-weight: 500;
    color: #373757;
}

.stat-widget-two .stat-digit i {
    font-size: 18px;
    margin-right: 5px;
}

.stat-widget-two .progress {
    height: 8px;
    margin-bottom: 0;
    margin-top: 20px;
    box-shadow: none;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.progress-bar-success {
    background-color: #28a745;
}