<div class="card info-box shadow-sm align-center text-white" [style.background-color]="bgColor">
    <div class="card-body">
        <h5 class="card-title display-4" style="font-size: 26px">{{ title }}</h5>
        <p class="card-text">{{ text }}</p>
        <div *ngIf="percent" class="progress" style="height: .15rem;">
            <div class="progress-bar" role="progressbar" [style.width]="percent" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <footer *ngIf="desc" class="blockquote-footer mt-3 text-white">{{ desc }}</footer>
        <div class="position-absolute info-box-icon">
            <i class="fa icon" [ngClass]="getClassIcon()" aria-hidden="true"></i>
        </div>
    </div>
</div>